// global tools
.tools__wrapper {
  padding-bottom: 90px;
  background: url(../../img/backgrounds/tools-bg.svg) no-repeat center bottom;
}

.tools__title {
  max-width: 46.2rem;
  margin: 0 auto 70px;
  text-align: center;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

// each tool block
.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin: 0 0 16px;
}
